-- =========================================
-- STEP 1: CLEAN INSTALL (DROP IF EXISTS)
-- =========================================
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'CollegeDB')
BEGIN
    ALTER DATABASE CollegeDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE CollegeDB;
END
GO

-- =========================================
-- STEP 2: CREATE DATABASE (NO FILE PATH)
-- =========================================
CREATE DATABASE CollegeDB;
GO

USE CollegeDB;
GO

-- =========================================
-- STUDENT TABLE
-- =========================================
CREATE TABLE Student (
    StudentId INT IDENTITY(1,1) PRIMARY KEY,
    Phone VARCHAR(15),
    Address VARCHAR(200),
    EnrollmentNo NVARCHAR(100) NOT NULL UNIQUE,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50),
    Gender NVARCHAR(10),
    DateOfBirth DATE,
    Course NVARCHAR(100),
    Semester NVARCHAR(20),
    Email NVARCHAR(100),
    Status NVARCHAR(20) DEFAULT 'ACTIVE',
    Photo VARBINARY(MAX)
);

-- =========================================
-- FACULTY TABLE
-- =========================================
CREATE TABLE Faculty (
    FacultyID INT IDENTITY(1,1) PRIMARY KEY,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    Gender VARCHAR(10) CHECK (Gender IN ('Male','Female')),
    DOB DATE,
    Salary DECIMAL(10,2),
    Phone VARCHAR(15),
    Email VARCHAR(100),
    Address VARCHAR(200),
    Department VARCHAR(100),
    JoinDate DATE,
    Qualification VARCHAR(100),
    Photo VARBINARY(MAX)
);

-- =========================================
-- ATTENDANCE TABLE
-- =========================================
CREATE TABLE Attendance (
    attendance_id INT IDENTITY(1,1) PRIMARY KEY,
    student_id INT,
    AttendanceDate DATE,
    status VARCHAR(10),
    UNIQUE(student_id, AttendanceDate),
    FOREIGN KEY (student_id) REFERENCES Student(StudentId)
);

-- =========================================
-- EVENTS
-- =========================================
CREATE TABLE Events (
    EventId INT IDENTITY(1,1) PRIMARY KEY,
    Title VARCHAR(100),
    EventDate DATE,
    Type VARCHAR(50),
    Description VARCHAR(200)
);

-- =========================================
-- FACILITIES
-- =========================================
CREATE TABLE Facilities (
    FacilityID INT IDENTITY(1,1) PRIMARY KEY,
    FacilityName VARCHAR(100) NOT NULL,
    Type VARCHAR(50),
    Location VARCHAR(100),
    Capacity INT,
    Equipment VARCHAR(200),
    Status VARCHAR(50),
    CoachID INT,
    Remarks VARCHAR(200),
    FacilityCode VARCHAR(10) UNIQUE,
    FOREIGN KEY (CoachID) REFERENCES Faculty(FacultyID)
);

-- =========================================
-- FACILITY BOOKINGS
-- =========================================
CREATE TABLE FacilityBookings (
    BookingID INT IDENTITY(1,1) PRIMARY KEY,
    StudentID INT,
    FacilityID INT,
    BookingDate DATE,
    TimeSlot VARCHAR(50),
    Purpose VARCHAR(200),
    Status VARCHAR(50),
    BookingCode VARCHAR(10) UNIQUE,
    FOREIGN KEY (StudentID) REFERENCES Student(StudentId),
    FOREIGN KEY (FacilityID) REFERENCES Facilities(FacilityID)
);

-- =========================================
-- FEES
-- =========================================
CREATE TABLE Fees (
    FeeID INT IDENTITY(1,1) PRIMARY KEY,
    EnrollmentNo NVARCHAR(100),
    TotalFee DECIMAL(10,2),
    AmountPaid DECIMAL(10,2),
    RemainingFee AS (TotalFee - AmountPaid),
    PaymentMode VARCHAR(50),
    PaymentDate DATE,
    PaymentStatus VARCHAR(20),
    FOREIGN KEY (EnrollmentNo) REFERENCES Student(EnrollmentNo)
);

-- =========================================
-- HOLIDAY
-- =========================================
CREATE TABLE HolidayTable (
    HolidayId INT IDENTITY(1,1) PRIMARY KEY,
    HolidayDate DATE,
    Description VARCHAR(100)
);

-- =========================================
-- LIBRARY BOOKS
-- =========================================
CREATE TABLE LibraryBooks (
    BookID INT IDENTITY(1,1) PRIMARY KEY,
    BookTitle VARCHAR(100) NOT NULL,
    AuthorName VARCHAR(100) NOT NULL,
    CategoryName VARCHAR(50),
    TotalCopies INT DEFAULT 0,
    AvailableCopies INT DEFAULT 0,
    ShelfNo VARCHAR(20),
    ISBNNo VARCHAR(20) UNIQUE,
    IsActive BIT DEFAULT 1
);

-- =========================================
-- LIBRARY ISSUED BOOKS
-- =========================================
CREATE TABLE LibraryIssuedBooks (
    IssueID INT IDENTITY(1,1) PRIMARY KEY,
    StudentID INT,
    BookID INT,
    IssueDate DATE,
    ReturnDate DATE,
    Status VARCHAR(20) DEFAULT 'Issued',
    FOREIGN KEY (StudentID) REFERENCES Student(StudentId),
    FOREIGN KEY (BookID) REFERENCES LibraryBooks(BookID)
);

-- =========================================
-- LOGIN
-- =========================================
CREATE TABLE LoginTable (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(50) NOT NULL,
    Password VARCHAR(50) NOT NULL
);

-- DEFAULT ADMIN
INSERT INTO LoginTable (Username, Password)
VALUES ('admin', 'admin');

-- =========================================
-- SYSTEMS
-- =========================================
CREATE TABLE Systems (
    SystemID VARCHAR(20) PRIMARY KEY,
    LabName VARCHAR(50),
    InstalledSoftware VARCHAR(100),
    Status VARCHAR(20)
);

-- =========================================
-- SYSTEM ASSIGNMENT
-- =========================================
CREATE TABLE SystemAssignment (
    AssignmentID INT IDENTITY(1,1) PRIMARY KEY,
    EnrollmentNo NVARCHAR(100),
    LabName VARCHAR(50),
    SystemID VARCHAR(20),
    AssignDate DATE,
    TimeSlot VARCHAR(50),
    FOREIGN KEY (EnrollmentNo) REFERENCES Student(EnrollmentNo),
    FOREIGN KEY (SystemID) REFERENCES Systems(SystemID)
);

-- =========================================
-- TRANSPORT VEHICLE
-- =========================================
CREATE TABLE TransportVehicle (
    VehicleID INT IDENTITY(1,1) PRIMARY KEY,
    VehicleNo VARCHAR(50),
    VehicleType VARCHAR(20),
    DriverName VARCHAR(100),
    DriverPhone VARCHAR(15),
    Route VARCHAR(100),
    Capacity INT
);

-- =========================================
-- TRANSPORT ASSIGN
-- =========================================
CREATE TABLE TransportAssign (
    AssignID INT IDENTITY(1,1) PRIMARY KEY,
    EnrollmentNo VARCHAR(50),
    StudentName VARCHAR(100),
    VehicleNo VARCHAR(50),
    VehicleType VARCHAR(20),
    Route VARCHAR(100),
    PickupTime VARCHAR(20)
);
